<div class="container">
  <div class="details">
    <app-title title="Login"></app-title>
      <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <text-input
        [control]="fc.email"
        [label]="'Email'"
        [type]="'email'"
        [showError]="isSubmitted">
        </text-input>

        <text-input
        [control]="fc.password"
        [label]="'Password'"
        [type]="'password'"
        [showError]="isSubmitted">
        </text-input>

        <default-button text="Login"></default-button>
      </form>
  </div>
</div>